[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
s3fs = "==2023.10.0"
datetime = "*"
gspread = "*"
tqdm = "*"
mmh3 = "*"
boto3 = "*"
botocore = "*"
pandas = "*"
numpy = "*"

[dev-packages]
pyarrow = "*"
pandasgui = "*"

[requires]
python_version = "3.10"
